scripts/
notebooks/
figures/
experiments/
configs/dev/

*.ckpt
core.*

__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
**/*.pyc
result*/
results*/
results
results.*
backup*/
test.*/
.nfs*

.idea/
.ipynb_*/
.ipynb_checkpoints/

# MacOSX
**/*.DS_Store
